:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(51, 51, 51);
  color: rgb(216, 216, 216);
  font-family: 'Josefin Sans', sans-serif;
}

.red-text {
  color: rgb(237, 105, 100);
}

.second-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0 1rem 0;
}

.second-list li {
  margin: 10px;
}

.second-list a {
  color: rgb(151, 151, 151);
  text-decoration: none;
}

.second-list a.active {
  color: rgb(237, 105, 100);
}

main {
  margin: 30px;
}

img {
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.web-developer {
  font-size: 1.75rem;
  text-align: center;
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  align-content: center;
}

p {
  flex-grow: 1;
}

div {
  padding: 1rem 0 1rem 0;
}

.let-us {
  text-align: center;
  font-size: 28px;
  padding-top: 3rem;
}

button#btn2 {
  font-size: 15px;
  margin:10px 0 50px 0;
  background-color: black;
  color: white;

}

.bottom-button {
  text-align: center;
}

img {
  
}

.top-nav-and-btn {
  display: none;
}

/*mobile is 370px*/
/*end mark-up for styles for mobile*/
/*tab is 768px*/
@media (min-width: 768px) {
  .top-nav ul { 
    justify-content:space-around;
    display: flex;
    list-style:none;
    float: left;
    width: 100%;
    padding-left: 7.5rem;
  }

  li a{ 
    text-decoration: none;
    color: rgb(96, 207, 242);
  }

  button#btn1 {
    font-size: 15px;
    margin:10px 0 50px 0;
    background-color: black;
    color: white;
    margin-right: -5rem;
  }

  .top-nav-and-btn {
    display: flex;
    justify-content: space-around;
    margin-top: -32px;
  }

  .wrap-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
}
/* img {
 height:350px;
 object-fit:cover;
 width:45%;
 padding:1rem;
} */



/*end mark-up for styles for tablet*/

/* @media (min-width: 768px) {
img { display:none }
}*/





/* how to get @ media to exclude styles for tablet*/
/* how to size/position images for desktop*/






/*.bottom-button {
  display: flex;
  justify-content: center;
  padding: 2rem 0 3rem 0;
  margin: -1.75rem;*/
}

/* @media (max-width: 768 px) hide blue bar and get in touch "button",
would it be better to make an actual button or use current HTML span tag*/

/* @media (min-width: 768 px) show flexbox containers-
flexbox containers are horizontal in nature
2 images at a time
have their own image sizing specifications */

/*@ media (min-width: 1200 px) need image specifications for desktop views.
Flexbox containers:
img skeleton and pumpkin are horizontally together
next three images are lined up vertically next to each other, need img specs
then wrap those three together in a display flex
next pumpkin-bin need  

/*.wrapContainer {
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     margin:-55px;
}
img {
 height:350px;
 object-fit:cover;
 width:45%;
 padding:1rem;
}*/

/*display: hidden;
content: none;*/

/*.top-nav-nav {
  display: flex;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
}*/

/*.second-list ul {
  list-style-type: none;
  font-size: 0.75rem;
}

.second-list a {
  color: rgb(151, 151, 151);
  text-decoration: none;
}*/
